<section class="company" id="company">
    <div class="under__decor"></div>
    <div class="company-decors">
        <div class="company-decors-decor"></div>
        <div class="company-decors-decorlittle"></div>
    </div>
    <div class="company-decors-mob">
        <div class="company-decors-mob-decor"></div>
        <div class="company-decors-mob-decorlittle"></div>
    </div>
   

   

    <div class="company-title" id="partners">
        
        {{'COMPANY.COMPANY__title' | translate}}
    </div>
    <div class="company-text">
        <div class="company-text-title">
            {{'COMPANY.COMPANY__subtitle' | translate }}
        </div>
    </div>

    <div class="company-logos">
        <div class="container">
        <div class="company-logos-logo">
            <a href="https://www.kamvol.by/">
                <img src="assets/images/company/logo-kamvol-baner.png" alt="kambol">
            </a>
            <p>{{'COMPANY.COMPANY_PARTNERS.COMPANY_PARTNERS__1' | translate}}</p>
        </div>

        <div class="company-logos-logo">
            <a href="https://skpf.by/ ">
                <img src="assets/images/company/«Беллегпром».svg" id="begleprom" alt="«Беллегпром»">
            </a>
            <p>{{'COMPANY.COMPANY_PARTNERS.COMPANY_PARTNERS__2' | translate}}</p>
        </div>
    </div>
    </div>

    <div class="company-diploma">
        <div class="company-diploma-title">{{'COMPANY.COMPANY__diploma' | translate}}</div>
        <div class="company-diploma-item">
            <img src="assets/images/company/Калмык Вул_Диплом Бизнес Успех-1.png" alt="Калмык Вул_Диплом Бизнес Успех-1">
            <img src="assets/images/company/Калмык Вул_Член ТПП-1.png" alt="Калмык Вул_Член ТПП-1">
        </div>


    </div>
   
</section>