<section class="process" id="process">

    <div class="process__container container">
       <div class="process-title">
            <h5>{{'PROCESS.PROCESS__title' | translate}}</h5>
       </div>
       <div class="process-video">
        <div class="about-text-decor-left "><img src="assets/images/icons/decor-left.png" alt=""></div>
        <div class="about-text-decor-right "><img src="assets/images/icons/decor-right.png" alt=""></div>
        <video class="video" controls>
            <source src="assets/video/0207.mp4" type="video/mp4">
          </video>
        <div class="about-text-decor-left-bottom"><img src="assets/images/icons/decor-left.png" alt=""></div>
        <div class="about-text-decor-right-bottom"><img src="assets/images/icons/decor-right.png" alt=""></div>
       </div>
    </div>
</section>