<section class="about" id="about">
    <div class="about-title">
        <h5>{{'ABOUT.ABOUT__title' | translate}}</h5>
    </div>
    <div class="about-text">
        <div class="about-text-border">
            <div class="about-text-decor-left "><img src="assets/images/icons/decor-left.png" alt=""></div>
            <div class="about-text-decor-right "><img src="assets/images/icons/decor-right.png" alt=""></div>
            <p>{{'ABOUT.ABOUT_TEXT.ABOUT_TEXT__1' | translate}}</p>
            <p>{{'ABOUT.ABOUT_TEXT.ABOUT_TEXT__2' | translate}}</p>
            <p>{{'ABOUT.ABOUT_TEXT.ABOUT_TEXT__3' | translate}}</p>
            <p>{{'ABOUT.ABOUT_TEXT.ABOUT_TEXT__4' | translate}}</p>
            <p>{{'ABOUT.ABOUT_TEXT.ABOUT_TEXT__5' | translate}}</p>
             <div class="about-text-decor-left-bottom"><img src="assets/images/icons/decor-left.png" alt=""></div>
             <div class="about-text-decor-right-bottom"><img src="assets/images/icons/decor-right.png" alt=""></div>
        </div>
      
    </div>

</section>